/*
 * Pepin - slideshow: CSS for demo
 */

/*
 * Utilities
 */
/* Hides content visually though it's still perceived by screen reader users */
.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
}

.slideshow {
  position: relative;
  overflow: hidden;
  padding: 0 0 0.5rem;
  background-color: #FFF;
}

/* slide content */
.slideshow-content {
  position: relative;
}

/* wrapper */
.slideshow-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 370px;
  /*transition: transform .3s;*/
}

/* slide */
.slideshow-item {
  position: absolute;
  display: flex;
    flex-direction: column;
    flex-shrink: 0;
  width: 100%;
  height: auto;
  background-color: #FFF;
  transition: opacity 0.8s;
}

.slideshow-item[aria-hidden="true"] {
  opacity: 0;
}

/* link */
.slideshow-item-link {
  text-decoration: none;
}

/* image */
.slideshow-item-img img {
  display: block; /* removes space below image between border and image */
  width: 100%;
}

/* image legend */
.slideshow-item-legend {
  padding: 1rem 0;
  font-size: 1.2rem;
}

/* image credit */
.slideshow-item-credit {
  display: block;
  font-style: italic;
}

/*
 * Slide controls
 */
 .slideshow-item-control {
   position: absolute;
     top: 0;
     left: 0;
   width: 100%;
   padding-top: calc(50% / 4 * 3); /* Allows perfect centering if we know the ratio of images: half the width of image / its ratio (320/240 in this demo) */
 }

[class*="slideshow-item-control-"] {
  display: block;
  position: absolute;
    /* top: 50%; */
  height: 4rem;
  width: 2rem;
  border: 0;
  margin-top: -2rem; /* minus half-height ⇒ vertical centering */
  padding: 0;
  line-height: 1;
  background: none;
  border-radius: 0;
  cursor: pointer;
}

/* arrow */
[class*="slideshow-item-control-"]::before,
[class*="slideshow-item-control-"]::after {
  content: "";
  position: relative;
  right: -1rem;
  display: block;
  height: 2.2rem;
  width: .2rem;
  background: #FFF;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.15);
}

.slideshow-item-control-left::after,
.slideshow-item-control-right::after {
  top: -0.65rem;
}

/* arrow left */
.slideshow-item-control-left {
  left: 0.5rem;
}

.slideshow-item-control-left::before {
  transform: rotate(45deg);
}

.slideshow-item-control-left::after {
  transform: rotate(-45deg);
}

/* arrow right */
.slideshow-item-control-right {
  right: 0.5rem;
}
.slideshow-item-control-right::before {
  transform: rotate(-45deg);
}
.slideshow-item-control-right::after {
  transform: rotate(45deg);
}


/*
 * Thumbnails
 */
.slideshow-thumbnails {
  position: relative;
  padding: 1.5rem 1.8rem;
  box-shadow: 0 3px 3px #DDD;
  margin: 0 0.2rem;
}

.slideshow-thumbnails-wrapper {
  overflow: hidden;
}

.slideshow-thumbnails-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  transition: transform 0.3s;
  position: relative;
}

.slideshow-thumbnails-list-item {
  width: 20%;
  flex-shrink: 0;
  padding: 0 0.1rem;
}

.slideshow-thumbnails-list-link {
  display: block;
  border: 3px solid #FFF;
}
.slideshow-thumbnails-list-link img {
  display: block; /* removes space below image between border and image */
  width: 100%;
}
.slideshow-thumbnails-list-link.is-active {
  border-color: #07B;
}

/*
 * Thumbnails controls
 */
[class*="slideshow-thumbnails-control-"] {
  display: block;
  position: absolute;
    top: 50%; /* vertical centering (1/2) */
  transform: translateY(-50%); /* vertical centering (2/2) */
  border: 0;
  padding: 0;
  background: none;
  border-radius: 0;
  cursor: pointer;
}
[class*="slideshow-thumbnails-control-"] svg {
  display: block; /* removes space below image between border and image */
  width: 1rem;
  height: 2rem;
  fill: #07B;
}

[class*="slideshow-thumbnails-control-"][aria-hidden="true"] {
  display: none;
}

/* arrow left */
.slideshow-thumbnails-control-left {
  left: 0.5rem;
}

/* arrow right */
.slideshow-thumbnails-control-right {
  right: 0.5rem;
}


/*
 * Mobile <= 768px
 */
@media (max-width: 768px) {
  /* slideshow */
  .slideshow {
    padding: 0 0 0.5rem;
  }

  .slideshow-wrapper {
    margin: 0;
  }

  /* slide */
  .slideshow-item {
    padding: 0;
  }

  /* slideshow: main title */
  .slideshow-maintitle {
    padding: 1.3rem 1.5rem;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .slideshow-maintitle em {
    font-style: normal;
  }

  /* slide: image */
  .slideshow-item-img {
    float: none;
    max-width: none;
    width: 100%;
  }

  /* slide: title */
  /*
  .slideshow-item-title {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    border: 2px solid $border-color;
    border-width: 0 2px 2px;
  }
  .slideshow-item-subtitle {
    display: block;
    font-weight: normal;
  }
  */

  /* pagination */
  .slideshow-pagination {
    text-align: center;
  }

  .slideshow-pagination-list {
    padding-left: 0;
    list-style: none;
  }

  .slideshow-pagination-list-item {
    display: inline-block;
  }

  /* pagin: link */
  .slideshow-pagination-list-link {
    display: block;
    padding: 1.85rem .5rem;
    border-radius: 0;
    background: none;
  }

  .slideshow-pagination-list-link::before,
  .slideshow-pagination-list-link::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background .2s;
  }

  /* circle */
  .slideshow-pagination-list-link::before {
    width: 6px;
    height: 6px;
    background: #555;
    border-radius: 50%;
  }
  /* border */
  .slideshow-pagination-list-link::after {
    width: 10px;
    height: 2px;
    margin-top: 0.5rem;
    background: none;
  }

  .slideshow-pagination-list-link:focus, .slideshow-pagination-list-link:hover {
    background: none;
  }

  /* active slide */
  .slideshow-pagination-list-link-active::before,
  .slideshow-pagination-list-link-active::after {
    background-color: #07B;
  }
}
